version: '3.9'

services:
  postgres:
    image: 'postgres:18.1-alpine'
    container_name: bank_postgres
    restart: unless-stopped
    environment:
      POSTGRES_DB: bankcards_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  db_data:
